<footer>
    <div [@animateFooter]>
        <!-- Social Links -->
        <ul class="footer-left-bar d-none d-md-block">
            @for (link of socialLinks; track link.url) {
                <li>
                    <a class="social-link" 
                       (click)="handleAnalytics(link.analyticsEvent, link.analyticsCategory, link.analyticsAction)" 
                       [href]="link.url" 
                       target="_blank">
                        <i [ngClass]="link.icon"></i>
                    </a>
                </li>
            }
        </ul>

        <!-- Email Link -->
        <div class="footer-right-bar d-none d-md-block">
            <a class="email-link" 
                (click)="openGmail()">
                nishadhere12&#64;gmail.com
            </a>
        </div>
    </div>

    <!-- Credits -->
    <div class="footer-credits text-center">
        @for (credit of credits; track credit.url) {
            <a class="credit-link" 
               (click)="handleAnalytics(credit.analyticsEvent, credit.analyticsCategory, credit.analyticsAction)" 
               [href]="credit.url" 
               target="_blank" 
               rel="nofollow noopener noreferrer">
                <div [ngClass]="{'mt-2': $index === 1}">{{ credit.text }}</div>
            </a>
        }
    </div>
</footer>