<!-- Experience Section -->
<section class="section" id="jobs">
  <div class="container jobs">
    <div class="section-box">
      <!-- Section Title with Animation -->
      <div class="about-title mb-5" data-aos="fade-up" data-aos-duration="1000">
        <h3 class="e-font section-title">
          {{ "Experience.Title" | translate }}
        </h3>
      </div>

      <!-- Jobs Tabs Container with Animation -->
      <div class="jobs-tabs" data-aos="fade-up" data-aos-duration="1000">
        <!-- Vertical Navigation Tabs -->
        <ul
          ngbNav
          #nav="ngbNav"
          [(activeId)]="active"
          orientation="vertical"
          class="nav-tabs jobs-tabs"
        >
          <!-- Job Tab Items -->
          @for (job of 'Experience.Jobs' | translate; track job.Tab) {
            <li [title]="job.Tab" [ngbNavItem]="$index">
              <!-- Tab Link -->
              <a ngbNavLink>{{ job.Tab }}</a>

              <!-- Tab Content Template -->
              <ng-template ngbNavContent>
                <!-- Job Title and Company -->
                <h4 class="title-tab-content">
                  {{ job.Title }} |
                  <span class="company-tab-content">{{ job.Tab }}</span>
                </h4>

                <!-- Job Duration -->
                <h5 class="job-time">{{ job.Date }}</h5>

                <!-- Job Description Points -->
                @for (description of job.Description; track $index) {
                  <p 
                    class="job-description"
                    [innerHTML]="description | translate"
                  ></p>
                }
              </ng-template>
            </li>
          }
        </ul>

        <!-- Tab Content Outlet -->
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
</section>
